@model IEnumerable<Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var router = ViewContext.RouteData.Values;
}

@*
    取得 modelstate 的 value範例
        @ViewData.ModelState["id"].Value.AttemptedValue
*@


@*@ViewContext.HttpContext.Items 非mvc的code 要傳給 mvc 就可以用到*@

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Clients", FormMethod.Post))
{
    @Html.DropDownList("CreditRating",null,"等級選一下")
    @Html.TextBox("keyword", null, new { placeholder = "輸入關鍵字" });
    <input type="submit" />
}
@using (Html.BeginForm("BatchUpdate", "Clients"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditRating)
            </th>


        </tr>
        @{
            var data = Model.ToArray();

        }
        @for (int i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].ClientId)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].FirstName)
                    @Html.ValidationMessageFor(model => data[i].FirstName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].MiddleName)
                    @Html.ValidationMessageFor(model => data[i].MiddleName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].LastName)
                    @Html.ValidationMessageFor(model => data[i].LastName, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].CreditRating)
                </td>
            </tr>
        }

    </table>
    <input type="submit" />
}

